
/* Defaults */

html, body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #222;
	background-color: #DDD;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	display: block;
	text-align: center;
	width: 100%;
	padding: 0;
	margin-top: 5% auto 2% auto;
}

header h1 {
	font-family: 'Poiret One', sans-serif;
	font-size: 3em;
	margin: 0;
	padding: 0;
}

header h3 {
	margin: 0;
	padding: 0;
}

header h1 span {
	font-family: 'Monoton', cursive;
	font-weight: 400;
	font-size: 1.5em;
	margin-left: -10px;
}

section, header {
	width: 90%;
	background-color: #EEE;
	border: 1px solid #CCC;
	margin: 1% 2% 1% 2%;
	padding: 2% 2% 2% 2%;
}

header {
	width: 100%;
	margin: 0;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

ul ul, .experience li {
	text-align: left;
}

p {
	padding: 2%;
}

a {
	text-decoration: none;
	color: #555;
}

/************************
/* NAVIGATION
*************************/

#menu li {
	display: none;
}

/**********************
/*PORTFOLIO
************************/

a img {
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 2% auto 2% auto;
	border: 2px solid #555;
}

li .label {
	display: block;
	width: 96%;
	text-align: center;
}